.container {
    margin: 0px 10%;
}

h1 {
    line-height: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 270px;
}

head {
    background-color: #ffffff;
    border-color: #cccccc;
    border: 2px;
    width: 100%;
}

.breadcrumb {
    padding-top: 35px;
    background-color: #ffffff;
}

h2 {
    color: #4aaaa5;
    padding: 20px 0px;
}

body {
    border: 2px;
    border-color: #cccccc;
    padding: 20px;
}

body {
    width: 966px;
}

.card-title {
    background: #4aaaa5;
    line-height: 20px;
    width: 275px;
    color: #ffffff;
    padding: 5px 100px;
    margin-top: 0px;
}

#card-row {
    float: left;
}